<div class="container text-center error-container">

  <h1 class="display-3">Error {{error.code}} </h1>
  <p class="lead">{{error.message}}</p>
  <hr class="my-4">
  <p>Jika kamu yakin ini adalah bug, mohon kirim<a
    href="https://github.com/wildan3105/github-langs/issues" target="_blank">isu di GitHub</a>.</p>
  <p class="lead">
    <a class="btn btn-lg" href="/" role="button">Kembali ke beranda</a>
  </p>

</div>

<div class="mastfoot">
  <div class="inner text-center">
    <p style="color:white"> 
      {{/if}}
      <div class="mastfoot">
        <div class="inner">
          <p style="color:white"> Hak cipta &salinan 2017 - {{currentYear}} Wildan S. Nahar | Perhatian : Situs ini adalah buatan penggemar dan tidak berafiliasi dengan GitHub.</p>
  </div>
</div>
