<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>

  <!-- chart.js customized -->
  <script src="public/js/chart.js"></script>

  <link rel="icon" href="public/img/favicon.png">
  <title>Github Language Checker</title>

  <!-- Bootstrap core CSS -->
  <link href="public/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Custom styles for this template -->
  <link href="public/css/screen.css" rel="stylesheet" media="screen">
</head>