<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>

  <!-- chart.js customized -->
  <script src="public/js/chart.js"></script>

  <meta name="twitter:title" content="GitHub Language Checker">
  <meta name="twitter:description" content="Check languages you use in GitHub">
  <meta name="twitter:image" content="https://githublangs.herokuapp.com/public/img/favicon.png">
  <meta property="og:url" content="https://githublangs.herokuapp.com" />
  <meta property="og:site_name" content="GitHub Language Checker">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="GitHub Language Checker" />
  <meta property="og:description" content="Check languages you use in GitHub" />
  <meta property="og:image" content="https://githublangs.herokuapp.com/public/img/favicon.png" />

  <link rel="icon" href="public/img/favicon.png">
  <title>Github Language Checker | {{username}} - {{type}}</title>

  <!-- Bootstrap core CSS -->
  <link href="public/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Custom styles for this template -->
  <link href="public/css//screen/base.css" rel="stylesheet" media="screen">
</head>
