# Node
node_modules
dump
*.log

# API keys
.env
config.json

# Coder
.idea
.vscode

# Analytics
# views/partials/footer.handlebars

# Tests reports
/build

# MacOS

.DS_Store

# SASS cache
.sass-cache
