<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>GitHub Language Checker</title>
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">GitHub Language Checker</h1>
            <form id="search-form" action="index.html" method="get" action="#">
              <input type="text" name="" placeholder="search">
              <button type="submit" name="button">Search</button>
            </form>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Disclaimer : This site is a fan made and not affiliated with GitHub.
                <br>
                <a href="https://github.com/wildan3105/github-langs" target="_blank">Source code</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
