<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
<a href="http://github.com/wildan3105/github-langs" target="_blank">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="public/img/forkme.png" alt="Fork me on GitHub"/>
</a>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      {{#if error}}
        {{> 404}}
      {{else}}
        {{> body}}
      {{/if}}

    </div>
  </div>
</div>

{{> footer}}
</body>
</html>
