<div class="mastfoot">
  <div class="inner text-center">
    <p style="color:white">
      Copyright &copy; 2017 - {{currentYear}}
      <a href="https://wildans.site" target="_blank" style="color:rgb(11, 229, 236); text-decoration:none;" onmouseover="this.style.color='white';" onmouseout="this.style.color='rgb(11, 229, 236)';">
        Wildan S. Nahar
      </a> | Disclaimer : This site is fan made and not affiliated with GitHub.
    </p>
  </div>
</div>
