<div class="container text-center error-container">

  <h1 class="display-3">Error {{error.code}} </h1>
  <p class="lead">{{error.message}}</p>
  <hr class="my-4">
  <p>If you believe there is a bug, please submit an <a
    href="https://github.com/wildan3105/github-langs/issues" target="_blank">issue on GitHub</a>.</p>
  <p class="lead">
    <a class="btn btn-lg" href="/" role="button">Back to home</a>
  </p>

</div>

<div class="mastfoot">
  <div class="inner text-center">
    <p style="color:white"> Copyright &copy 2017 - {{currentYear}} Wildan S. Nahar | Disclaimer : This site is fan made and not affiliated with GitHub.</p>
  </div>
</div>
